<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" href="/index.xml" title="{{.Site.Title}}">
    {{- $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/myscss")) -}}
    {{- $style := resources.Get "scss/main.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{$style.Permalink}}">
    <title>{{ .Title }}</title>
</head>