// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$primary-font: 'Circular-Std', sans-serif;


/// font sizes for different width screen
$fs-heading--large: 32px;
$fs-heading--small: 24px;
$fs-hero-heading--large: 52px;
$fs-hero-heading--small: 45px;
$fs-card-heading: 22px;
$fs-primary-text--large: 16px;
$fs-primary-text--small: 14px;
$fs-secondary-text--large: 20px;
$fs-secondary-text--small: 12px;


/// font weight for the website
$fw-normal: normal;
$fw-medium: 500;
$fw-bold: bold;
$fw-bolder: 900;


/// color scheme for the website
/// @type Color
$fc-primary--dark: #242521;
$fc-primary--light: rgb(255, 255, 255);
$fc-secondary--dark: rgb(36, 37, 33);
$fc-secondary--red: #CE3E4C;
$fc-yellow: #FFC756;


//background-colors
$bgc-primary--dark: #242521;
$bgc-primary--red: #CE3E4C;
$bgc-drop-down--normal: #EAEAE9;
$bgc-drop-down--hover: #E7D9D9;
$bgc-product-card: rgb(255, 228, 231);
$bgc-testimonial-card: rgb(229, 240, 255);
$bgc-testimonial: #17335B;
$bgc-blog-article-card: #2F302C;
$bgc-secondary--light: rgb(255, 255, 255);
$bgc-form-label: rgb(249, 249, 249);
$bgc-form: #434441;
$bgc-yellow: #FFC756;
$bgc-partners-card: #FAD4D8;
$bgc-circle: rgb(36, 37, 33);
$bgc-navigation: rgb(206, 62, 76);


//border-colors
$brc-product-card: rgb(36, 37, 33);
$brc-blog-article-card: #FFFFFF;
$brc-circle-red: rgb(205, 61, 75);
$brc-separator: rgb(255, 255, 255);


/// Container's maximum width
/// @type Length
$max-width: 1152px !default;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'tablet': 980px,
  'large': 1024px,

) !default;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
