{{ define "main" }}
<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <h3  class="hero__sub-heading">Welcome</h3>
            <h3  class="hero__heading">I am <strong>Missom</strong></h3>
            <div class="hero__icons-wrapper">
                <div class="hero__icon">
                    <a href="#"><img src="/images/facebook.svg" alt=""></a>
                </div>
                <div class="hero__icon">
                    <a href="#"><img src="/images/linkedin.svg" alt=""></a>
                </div>
                <div class="hero__icon">
                    <a href="#"><img src="/images/pinterest.svg" alt=""></a>
                </div>
                <div class="hero__icon">
                    <a href="#"><img src="/images/twitter.svg" alt=""></a>
                </div>
            </div>
            <div class="hero__buttons-wrapper">
                <div class="hero__button-content hero__button-content--red">
                    <a class="hero__button" href="#">portfolio</a>
                </div>
                <div class="hero__button-content">
                    <a class="hero__button" href="#">contact me</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}