// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button{
    font-size: rem($fs-primary-text--small);
    text-align: center;
    color: $fc-primary--light;
    padding: rem(13px) rem(23px);
    background-color: $bgc-primary--red;
    text-decoration: none;
    border-radius: 4px;
    display: grid;
    place-items: center;
    @include on-event(){
        cursor: pointer;
    }
}