// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

/* Hero design */
.hero{
    background: url(/images/hero-image.jpg) ,linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(2,0,36,0.734341252699784) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    place-items: center;
    &__wrapper{
        display: grid;
        place-items: center;
    }
    &__sub-heading{
        margin: 0;
        font-size: 25px;
        color: #fff;
    }
    &__heading{
        margin: 0;
        font-size: 60px;
        color: #fff;
    }
    &__icons-wrapper{
        display: flex;
        gap: 30px;
    }
    &__icon{
        &:hover{
            transform: scale(1.5);
        }
    }
    &__buttons-wrapper{
        display: flex;
        gap: 30px;
    }
    &__button-content{
        padding: 5px 20px;
        border: 2px solid #fff;
        &--red{
            background: #e84118;
            border: none;
            margin: 2px;
        }
    }
    &__button{
        font-size: 20px;
        color: #fff;
    }
}