// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'Circular-Std';
    src: url('fonts/Circular-Std-Medium.woff2') format('woff2'),
         url('fonts/Circular-Std-Medium.woff') format('woff'),
         url('fonts/Circular-Std-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Circular-Std';
    src: url('fonts/Circular-Std-Bold.woff2') format('woff2'),
         url('fonts/Circular-Std-Bold.woff') format('woff'),
         url('fonts/Circular-Std-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'Circular-Std';
    src: url('fonts/CircularStd-Black.woff2') format('woff2'),
         url('fonts/CircularStd-Black.woff') format('woff'),
         url('fonts/CircularStd-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'Circular-Std';
    src: url('fonts/Circular-Std-Book.woff2') format('woff2'),
         url('fonts/Circular-Std-Book.woff') format('woff'),
         url('fonts/Circular-Std-Book.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
