/**
 * Basic typography style for copy text
 */
 
body {
  font-family: $primary-font;
  font-style: normal;
  font-weight: $fw-normal;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
}
.body{
  &--fixed{
    position: fixed;
  }
}

h1{
  line-height: 1.25;
  font-size: rem($fs-hero-heading--small);
  @include mq(medium){
    line-height: 1.26;
    font-size: rem($fs-hero-heading--large);
  }
}

h2{
  line-height: 1.25;
  font-size: rem($fs-heading--small);
  @include mq(medium){
    line-height: 1.26;
    font-size: rem($fs-heading--large);
  }
}

h3{
  line-height: 1.54;
  @include mq(medium){
    line-height: 1.5;
  }
  font-size: rem($fs-card-heading);
}

h4{
  line-height: 1.5;
  font-size: rem($fs-secondary-text--large);
}
h5{
  line-height: 1.5;
}
h6{
  line-height: 1.5;
}
.hero-heading{
  font-weight: $fw-bold;
  color: $fc-primary--light;
  text-align: center;
  text-transform: capitalize;
}

.primary-heading{
  color: $fc-primary--light;
  text-align: center;
}

.primary-text{
  font-size: rem($fs-primary-text--small);
  color: rgba($fc-primary--light, 0.67);
  @include mq(medium){
    font-size: rem($fs-primary-text--large);
  }
}